.vs
.vscode
/BUILDFOLDER
/BUILD
/Bulk-Uploader-FrontEnd/bin
/Bulk-Uploader-FrontEnd/.vs
/Bulk-Uploader-FrontEnd/.vsCode
/Bulk-Uploader-FrontEnd/obj
/ApsSettings.Data/bin
/ApsSettings.Data/obj
/obj
/bin
*.dll
*.db
*.db*
/.idea
/Ac.Net.Authentication/bin
/Ac.Net.Authentication/obj
/MigrationPlugin/obj
/PluginBase/obj
/MigrationPlugin/bin
/PluginBase/bin
/BatchOperationPlugin/obj
/BatchOperationPlugin/bin
/TestPlugin/obj
/TestPlugin/bin
exceptions.txt